@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Laila:wght@300;400;500;600;700&display=swap');


@import "tailwindcss";

@theme {
  --font-acme: "Acme", sans-serif;
  --font-krona: "Krona One", sans-serif;
  --font-laila: "Laila", sans-serif;
  --font-akatab: "Akatab", sans-serif;
  --animate-marquee: marquee 20s linear infinite;
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}